<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"> Increase balance </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-justify">
                Within SudoSOS your balance represents the money with which you can buy products from the Sudosos stores.
                However when your balance is too low the possibility to buy products will be limited. Therefore it is important
                to keep your balance high enough such that this will not happen. Increasing your balance is possible through
                this form.
                </p>
            </div>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputAccountId" class="col-sm-3 control-label">Account id</label>
                <div class="col-sm-9">
                    <input disabled type="number" class="form-control" id="inputAccountId" placeholder="Id">
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <input disabled type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Amount</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <!-- There is some very ugly javascript here, beaware.. Reason: chrome spinners are also very ugly and users see them-->
                        <!-- The css tricks on stack overflow did not work :'( -->
                        <span class="input-group-addon"><i class="fa fa-euro"></i></span>
                        <label hidden for="inputEuro">Euros</label>
                        <input class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="3" type="text" id="inputEuro" placeholder="0">
                        <span class="input-group-addon dotBetweenInputs">.</span>
                        <label hidden for="inputCents">Cents</label>
                        <input class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="2" type="text" id="inputCents" placeholder="00">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <button type="button" class="btn btn-success btn-block"><strong>Pay</strong></button>
                </div>
            </div>

        </form>
        <div class="row">
            <div class ="col-md-12">
                <em class="text-justify">
                Note: By using this form you (again) agree to the terms of service of SudoSOS and the
                terms of service of our iDeal provider. Note especially that when you have a negative balance this will
                be seen as a loan from GEWIS to the person owning the account. As such GEWIS may charge interest or reclaim
                this debt as specified in the terms of service.
                </em>
            </div>
        </div>

    </div>
</div>