<div class="hidden-xs manage-panel-container">
    <div class="row">
        <div cg-busy="loadingProducts" class="col-lg-4 col-md-4 col-sm-4 ">
            <h2 align="center">Products</h2>
            <div class="items-div">
                <div class="item-div" ng-repeat="product in products" ng-drag="true" ng-drag-data="product">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h4>{{ product.name }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <p>Price: €{{ product.price   }}</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <p>Amount: {{ product.amount }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div cg-busy="loadingStorages" class="col-lg-4 col-md-4 col-sm-4 ">
            <h2 align="center">Storages</h2>
            <div class="items-div">
                <div class="item-div" ng-repeat="storage in storages" ng-drag="true" ng-drag-data="storage">
                    <h4>{{ storage.name }}</h4>
                    <p>Products: </p>
                    <div class="products-div" ng-drop="true"
                         ng-drop-success="dropProduct($data, $event)">
                        <p ng-repeat="item in storage.items">
                            {{ item.amount }} {{ item.name }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div cg-busy="loadingPOS" class="col-lg-4 col-md-4 col-sm-4">
            <h2 align="center">Points Of Sale</h2>
            <div class="items-div">
                <div class="item-div" ng-repeat="pointOfSale in pointsOfSale">
                    <h4>{{ pointOfSale.name }}</h4>
                    <p>Storages: </p>
                    <div class="products-div" ng-drop="true"
                         ng-drop-success="dropStorage($data, $event)">
                        <p ng-repeat="storage in pointOfSale.storages">
                            {{ storage.name }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="visible-xs">
    <h1 align="center">Sorry, this feature is currently not available for phones.</h1>
    <h2 align="center">Please visit this page on a PC or tablet.</h2>
</div>