<div class="flexchain">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <h1>Role management</h1>
            </div>
        </div>
    </div>
    <div class="row flexchain flexrow">
        <div class="col-sm-6 hidden-xs">
            <div class="row">
                <div class="col-xs-12">
                    <input/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <select>

                    </select>
                </div>
            </div>
        </div><!--
        --><div class="col-sm-6 hidden-xs">
            <div class="row">
                <div class="col-xs-12">
                    <input/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <select>

                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-danger btn-block"> Cancel </button>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-success btn-block"> Save </button>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-info btn-block"> Roles management </button>
        </div>
    </div>
</div>