<div class="form-inline">
    <button class="btn btn-success">Add product</button>
    <button class="btn btn-primary">Edit product</button>
    <div class="form-group input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i> </div>
        <label for="searchBar" class="sr-only">Email</label>
        <input type="text" class="form-control" id="searchBar" placeholder="Search" ng-model="searchTerm">
    </div>
</div>
<div cg-busy="loadingData">
    <table class="table">
        <thead>
        <tr>
            <th class="">Naam</th>
            <th>Prijs</th>
            <th>Afbeelding</th>
            <th>Verpakkingsgrootte</th>
            <th>Categorie</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in products | filter:{'name':searchTerm}">
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td><img src="{{ product.image }}"></td>
            <td>{{ product.tray_size }}</td>
            <td>{{ product.category }}</td>
        </tr>
        </tbody>
    </table>
</div>