<div>
    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-mini">
                <img src="img/logo.svg" class="sudosos-logo">
            </span>
            <span class="logo-lg">
                <img src="img/logo.svg" class="sudosos-logo">
                <span class="sudosos-logo-text"> SudoSOS</span>
            </span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="http://gewis.nl/willem" class="img-circle">
                </div>
                <div class="pull-left info">
                    <p>L. Erens</p>
                </div>
            </div>

            <ul class="sidebar-menu tree" data-widget="tree">
                <li class="active">
                    <a href="#" ui-sref="sudosos.financial">Financial</a>
                </li>
                <li>
                    <a href="#" ui-sref="sudosos.products">Products</a>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <div ui-view="admin-panel-content">
        </div>
    </div>
</div>
