<header class="main-header">
    <!-- The logo in the header bar -->
    <a href="" class="logo">
        <img src="img/logo.svg" class="sudosos-logo pull-left">
        <span class="logo-lg">
            <span class="sudosos-logo-text"> SudoSOS</span>
        </span>
    </a>
    <!-- The rest of the navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <!--id="toggle-sidebar-button"-->
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="navbar nav">
                <li>
                    <a href="#">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        Sign out
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel-wrapper">
        <div class="user-panel">
            <div class="image">
                <img src="img/user_avatar.svg" class="user-avatar">
            </div>
            <div class="info">
                <p>{{ user.name }}</p>
                <span><a href="#">Balance: {{ user.currentBalance | currency : "€" }}</a></span>
            </div>
        </div>
        </div>
        <ul class="sidebar-menu tree" data-widget="tree">
            <!-- Committee dropdown -->
            <li class="treeview">
                <a href="#">
                    <span>{{ currentCommittee.committee.name }}</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li ng-repeat="committee in user.committees">
                        <a href="#" ng-click="currentCommittee.committee = committee">
                            <span>{{ committee.name }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"><span>More...</span></a>
                    </li>
                </ul>
            </li>
            <li class="header">Personal Tabs</li>
            <li ui-sref="sudosos.personalHome" ui-sref-active="active">
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span>Personal Homepage</span>
                </a>
            </li>
            <li ui-sref="sudosos.increaseBalance" ui-sref-active="active">
                <a href="#">
                    <i class="fa fa-money"></i>
                    <span>Increase Balance</span>
                </a>
            </li>
            <li ui-sref="sudosos.termsAndConditions" ui-sref-active="active">
                <a href="#">
                    <i class="fa fa-pencil-square-o"></i>
                    <span>Terms and conditions</span>
                </a>
            </li>
            <li class="header">Committee Tabs</li>
            <li ui-sref="sudosos.financial" ui-sref-active="active">
                <a href="#">
                    <i class="fa fa-bank" aria-hidden="true"></i>
                    <span> Financial</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-wrench"></i>
                    <span>Manage</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li ui-sref="sudosos.manage">
                        <a href="#"><i class="fa fa-columns"></i>Manage Categories</a>
                    </li>
                    <li ui-sref="sudosos.products">
                        <a href="#"><i class="fa fa-th"></i>Manage Products</a>
                    </li>
                    <li ui-sref="sudosos.storages">
                        <a href="#"><i class="fa fa-cubes"></i><span>Manage Storages</span></a>
                    </li>
                    <li ui-sref="sudosos.pointsOfSale">
                        <a href="#"><i class="fa fa-shopping-basket"></i><span>Manage POS</span></a>
                    </li>
                    <li ui-sref="sudosos.manageRoles">
                        <a href="#"><i class="fa fa-gear"></i><span>Manage roles</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<div class="content-wrapper flexchain">
    <div ui-view="admin-panel-content" class="flexchain">
    </div>
</div>
<footer class="main-footer">
    &copy; {{ date | date: 'yyyy' }} GEWIS
    &bullet; <a href="http://example.com">Terms of service</a>
    &bullet; <a href="mailto:zwartgat@gewis.nl">Complaints</a>
    &bullet; <a href="https://github.com/GEWIS/Sudosos">Source</a>
    <div class="pull-right hidden-xs">
        Thanks to the awesome <a href="https://github.com/GEWIS/Sudosos/pulse">Beunteam</a>
    </div>
</footer>

