@import "bootstrap/variables";
@import "adminLTE/variables";

/*
 * Global component styling
 */
.wrapper {
  width: 100%;
  min-height: 100%;
  position: absolute;
}

//Start content height fix
ui-view{
  display: flex;
  flex-flow: column;
  height: 100%;
}

ui-view > header {
  flex: 0 1 auto;
}

ui-view > .content-wrapper {
  flex: 1 1 auto;
  min-height: initial;
  padding: 15px;
  overflow-y: scroll;
}

ui-view > footer {
  flex: 0 1 40px;
}

//.material-icons {
//  font-size:18px;
//}
//end content height fix

/*
 * Sidebar classes
 */
body.sidebar-collapse * .select-committee-dropdown{
  display: none;
}

body.sidebar-collapse .logo{
  padding-left:0px;
  padding-right:0px;
}

img.sudosos-logo{
  height: @navbar-height;
  width: @navbar-height;
  padding: 5px;

  &.sudosos-logo-mini{
    margin: 0px 15px;
  }
}

#selectCommitteeDropDown, #selectCommitteeDropDownOptions, #selectCommitteeDropDownOptions a{
  background-color:@sidebar-dark-submenu-bg;
  border-color:@sidebar-dark-submenu-bg;
  color: @sidebar-dark-submenu-color;

  &:hover{
    color: @sidebar-dark-submenu-hover-color;
  }
  &.active{
    background-color: darken(@sidebar-dark-submenu-bg, 2%);
    border-color:darken(@sidebar-dark-submenu-bg, 2%);
    color: @sidebar-dark-submenu-hover-color;
  }
}

.nav>li>a{
  padding: 15px;
}

.user-panel-wrapper {
  width: 100%;
  overflow: hidden;
}

/*
 * Miscellaneous
 */
.select-committee-dropdown *:not(span) {
  width: 100%;
}

// increase balance specific css
.dotBetweenInputs{
  border-width:1px 0px 1px 0px
}
//end increase balance specific css
.selected{
  background-color: fade(darken(@gewis-light-gray, 25%), 50%);
}
tr:hover{
  background-color: fade(darken(@gewis-light-gray, 10%), 50%);
}

// The product image
.product-image{
  max-width: 100%;
}

// The bar to edit and filter the products/storages
.edit-filter-bar{
  margin-bottom: 8px;
}

// The div that contains all items/storages/POS
.items-div{
  border: @gewis-light-gray 2px solid;
  width: 100%;
  background-color: darken(@body-bg, 2%);
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
}

// The style for an item in an items-div
.item-div{
  border: @gewis-light-gray 1px solid;
  background-color: darken(@body-bg, 3%);
  margin: 4px;
  padding: 4px;
}

//The div that contains the products in a storage
.products-div{
  border: @gewis-light-gray 1px solid;
  background-color: @body-bg;
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 4px;
}

//Hide the scrollbar of the .products-div, but keep scrolling enabled
.products-div::-webkit-scrollbar{
  display: none;
}

// The number input for the amount of products that should be transferred
#amountSelector{
  width: 100%;
  margin-bottom: 8px;
}

// The label for #amountSelector
#amountSelectorLabel{
  text-align: center;
  width: 100%;
}


//flexbox behavior for tree
.flexchain{
  display:flex;
  flex-direction:column;
  flex:1;
}
.flexrow{
  flex-direction: row;
}