@import "bootstrap/variables";
// The sudosos logo css
img.sudosos-logo{
  max-height: 48px;
  max-width: 48px;
  padding-bottom: 4px;
  padding-top: 4px;

  &.sudosos-logo-mini{
    margin: 0px 15px;
  }
}


.full-width {
  width: 100%;
}

//Start content height fix
ui-view{
  display: flex;
  flex-flow: column;
  height: 100%;
}

ui-view > header {
  flex: 0 1 auto;
}

ui-view > .content-wrapper {
  flex: 1 1 auto;
  min-height: initial;
}

ui-view > footer {
  flex: 0 1 40px;
}
//end content height fix

// The user avatar in the siedbar
img.user-avatar{
  height: 45px;
}

.nav>li>a{
  padding: 15px;
}

// Make the committee dropdown 100% width
.select-committee-dropdown *:not(span) {
  width: 100%;
}

// Remove the committee dropdown when the sidebar is collapsed
body.sidebar-collapse * .select-committee-dropdown{
  display: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.padding{
  padding: 8px;
}
//sidebar specific css

.user-panel, #selectCommitteeDropDown, #selectCommitteeDropDownOptions, #selectCommitteeDropDownOptions a{


  background-color:@sidebar-dark-submenu-bg;
  border-color:@sidebar-dark-submenu-bg;
  color: @sidebar-dark-submenu-color;

  &:hover{
    color: @sidebar-dark-submenu-hover-color;
  }
  &.active{
    background-color: darken(@sidebar-dark-submenu-bg, 2%);
    border-color:darken(@sidebar-dark-submenu-bg, 2%);
    color: @sidebar-dark-submenu-hover-color;
  }
}

//end sidebar specific css


// increase balance specific css
.dotBetweenInputs{
  border-width:1px 0px 1px 0px
}
//end increase balance specific css
.selected{
  background-color: fade(darken(@gewis-light-gray, 25%), 50%);
}
tr:hover{
  background-color: fade(darken(@gewis-light-gray, 10%), 50%);
}

// The product image
.product-image{
  max-width: 100%;
}

// The bar to edit and filter the products/storages
.edit-filter-bar{
  margin-bottom: 8px;
}

